In [8]:
import pandas as pd

mesh_2021 = pd.read_excel(
    "./mesh2021.xlsx",
    sheet_name=1,
    header=6,
    skipfooter=5
)
mesh_2021

,MB_CODE_2021,MB_CATEGORY_NAME_2021,AREA_ALBERS_SQKM,Dwelling,Person,State
0,10000010000,Residential,0.0209,44,63,1
1,10000021000,Commercial,0.0829,0,0,1
2,10000022000,Commercial,0.0388,5,6,1
3,10000023000,Commercial,0.0254,4,4,1
4,10000024000,Residential,0.0376,15,22,1
...,...,...,...,...,...,...
59987,10644261000,Industrial,0.1180,5,8,1
59988,10644262000,Industrial,0.0161,6,12,1
59989,10644270000,Education,0.0022,0,0,1
59990,10644280000,Residential,0.0378,64,209,1
59991,10644290000,Education,0.0480,0,0,1